*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #1E1E1E;
}

.home{
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.container{
  width: 1200px;
  height: 700px;

  background-color: #ECEAF3;

  border-radius: 20px;

  display: flex;

  overflow: hidden;
}


.sidebar{
  width: 250px;
  height: 100%;

  background: linear-gradient(180deg, #6C2BD9, #5B21B6);

  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo{
  display: flex;
  align-items: center;
  gap: 15px;

  color: white;
}

.logo-box{
  width: 55px;
  height: 55px;

  background-color: white;

  border-radius: 5px;
}


.sidebar nav{
  display: flex;
  flex-direction: column;

  gap: 12px;

  margin-top: 40px;
}

.sidebar nav button{
  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: none;

  color: white;

  font-size: 16px;

  text-align: left;

  cursor: pointer;

  transition: 0.2s;
}

.sidebar nav button:hover{
  background-color: rgba(255,255,255,0.1);
}

.active-btn{
  background-color: #8B5CF6 !important;
}


.sidebar-bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.publish-btn{
  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background-color: #A855F7;

  color: white;

  font-size: 15px;

  cursor: pointer;
}

.logout-btn{
  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: none;

  color: white;

  text-align: left;

  cursor: pointer;
}


.content{
  flex: 1;

  padding: 30px;

  overflow-y: auto;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  font-size: 38px;
  color: #2D2D2D;
}

.header-right{
  display: flex;
  align-items: center;
  gap: 20px;
}


.header input{
  width: 320px;

  padding: 15px 20px;

  border: none;

  border-radius: 30px;

  background-color: white;

  outline: none;
}


.profile{
  width: 60px;
  height: 60px;

  background-color: #6C2BD9;

  border-radius: 50%;
}


.tabs{
  display: flex;
  gap: 30px;

  margin-top: 30px;

  border-bottom: 1px solid #D4D4D4;

  padding-bottom: 12px;
}

.tabs button{
  border: none;
  background: none;

  font-size: 15px;

  cursor: pointer;

  color: #666;
}

.tabs .active{
  color: #6C2BD9;
  font-weight: bold;
}


.books-section{
  margin-top: 30px;
}

.section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.section-title h2{
  font-size: 18px;
  color: #2D2D2D;
}

.section-title span{
  color: #6C2BD9;
  font-weight: bold;

  cursor: pointer;
}


.books-grid{
  display: flex;
  gap: 20px;
}


.book-card{
  width: 170px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.book-card:hover{
  transform: translateY(-5px);
}


.book-cover{
  width: 100%;
  height: 210px;

  background-color: #B784F7;
}


.book-info{
  padding: 12px;
}

.book-info h4{
  font-size: 14px;
  color: #2D2D2D;
}

.book-info p{
  font-size: 13px;
  color: #7A7A7A;

  margin-top: 5px;
}


.bottom-content{
  display: flex;
  gap: 20px;

  margin-top: 35px;
}


.post-card{
  flex: 1;

  background-color: white;

  border-radius: 20px;

  padding: 20px;
}


.post-header{
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar{
  width: 50px;
  height: 50px;

  background-color: #6C2BD9;

  border-radius: 50%;
}


.post-text{
  margin-top: 20px;

  color: #555;

  line-height: 1.5;
}


.book-review{
  margin-top: 20px;

  background-color: #ECEAF3;

  border-radius: 15px;

  padding: 15px;

  display: flex;
  gap: 15px;
}

.review-cover{
  width: 70px;
  height: 90px;

  background-color: #B784F7;

  border-radius: 10px;
}


.stars{
  margin-top: 10px;
}


.likes{
  margin-top: 20px;

  color: #EF4444;
}


.friends-box{
  width: 300px;

  background-color: white;

  border-radius: 20px;

  padding: 20px;
}

.friends-box h3{
  color: #2D2D2D;
}


.friend-item{
  display: flex;
  gap: 15px;

  margin-top: 25px;
}

.friend-avatar{
  width: 50px;
  height: 50px;

  background-color: #6C2BD9;

  border-radius: 50%;
}

.friend-item p{
  font-size: 14px;
  color: #2D2D2D;
}

.friend-item span{
  font-size: 13px;
  color: #777;
}
